/*

	$VARIABLES & MIXINS

*/
/*

	$GENERALES

*/
body {
  background: #f9f9f9; }

h1 {
  font-size: 1.8em !important; }

.btn {
  border-radius: 30px;
  height: 35px;
  line-height: 32px;
  padding: 0 20px;
  color: #FFF;
  border: 2px solid #FFF;
  background: transparent;
  transition: all .2s ease-in-out; }
  .btn:hover {
    background: #48aa64;
    color: #FFF; }

form {
  padding-top: 10px; }
  form input {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 35px;
    line-height: 32px;
    border: 2px solid #999;
    background: #DDD;
    margin: 0;
    padding: 0 10px;
    float: left;
    font-size: 0.7em;
    transition: all .2s ease-in-out; }
    form input:focus {
      border: 2px solid #48aa64;
      background: #EEE;
      outline: 0; }
  form .btn-form {
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 0.7em;
    height: 35px;
    line-height: 28px;
    padding: 0 20px;
    color: #FFF;
    border: 2px solid #48aa64;
    background: #48aa64;
    margin: 0;
    float: left;
    transition: all .2s ease-in-out; }
    form .btn-form:hover {
      opacity: 0.8; }

.col-md-3 {
  padding: 2px; }
  @media only screen and (max-width: 480px) {
    .col-md-3 {
      width: 100% !important; } }

.col-md-12 {
  padding: 0px 2px 2px 2px; }

header {
  height: 100px;
  overflow: hidden; }
  header .logo {
    width: 180px;
    height: 100%;
    background: #3a454e;
    float: left;
    overflow: hidden; }
    header .logo img {
      width: 100%;
      height: auto; }
      @media only screen and (max-width: 480px) {
        header .logo img {
          height: 100px;
          width: auto; } }
    @media only screen and (max-width: 480px) {
      header .logo {
        width: 100%; } }
  header .nombre-empresa {
    width: calc(100% - 180px);
    height: 100%;
    background: #242b31;
    float: right;
    line-height: 100px;
    padding-left: 20px;
    color: #FFF;
    font-size: 1.4em;
    text-transform: uppercase; }
    @media only screen and (max-width: 480px) {
      header .nombre-empresa {
        display: none; } }

.jumbotron {
  font-size: 1.3em;
  margin: 0;
  border-radius: 0 !important;
  background: #ccc;
  color: #333; }
  .jumbotron h1 {
    margin: 0; }

.nav {
  padding: 2px;
  margin-top: -4px; }
  .nav .col-md-12 {
    height: 50px;
    line-height: 50px;
    background: #CCC;
    border-top: 1px solid #AAA;
    padding: 0 20px; }
    @media only screen and (max-width: 480px) {
      .nav .col-md-12 {
        display: none; } }
    .nav .col-md-12 .nav-options {
      float: left;
      text-decoration: underline;
      cursor: pointer;
      color: #666; }
      .nav .col-md-12 .nav-options:hover {
        color: #48aa64; }
    .nav .col-md-12 form {
      float: right;
      padding-top: 7px;
      font-size: 1.2em; }
      .nav .col-md-12 form .btn-form {
        background: #999;
        border: #999; }
        .nav .col-md-12 form .btn-form:hover {
          opacity: 0.7; }

.mesa-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  height: 0; }

.mesa {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ebebeb; }
  .mesa .status {
    padding: 5px 10px;
    background: #DDD;
    position: absolute;
    right: 0px;
    font-size: 0.8em;
    bottom: 0;
    color: #777; }
  .mesa .accion {
    width: calc(100% + 10px);
    height: calc(100% + 60px);
    margin-left: -5px;
    margin-top: -30px;
    background: #48aa64;
    z-index: 2;
    position: relative;
    color: #FFF;
    padding: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: scale(0.8);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32); }
    @media only screen and (max-width: 480px) {
      .mesa .accion {
        width: 100%;
        margin-left: 0; } }
    .mesa .accion h2 {
      font-size: 1.3em;
      margin: 0;
      border-bottom: 1px solid #FFF;
      margin-bottom: 10px;
      padding-bottom: 5px; }
    .mesa .accion ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .mesa .accion ul li {
        font-size: 0.9em; }
        .mesa .accion ul li.disponibles {
          opacity: 0.7; }
        .mesa .accion ul li:before {
          content: "\e008";
          font-family: 'Glyphicons Halflings';
          padding-right: 5px; }
        .mesa .accion ul li:last-child:before {
          display: none; }
    .mesa .accion .reservar {
      width: 100%;
      padding: 10px 0;
      background: #317444;
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center; }
      .mesa .accion .reservar span {
        line-height: 35px; }
    @media only screen and (max-width: 480px) {
      .mesa .accion {
        opacity: 1;
        transform: scale(1);
        display: none; } }
  .mesa:hover .accion {
    opacity: 1;
    transform: scale(1); }

.mesa-view {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.6em;
  width: 7.2em;
  height: 7.2em;
  background: #999;
  border-radius: 50%; }
  .mesa-view p {
    font-size: 1em;
    color: #DDD;
    line-height: 7.2em;
    text-align: center; }

.silla {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8em;
  width: 1.6em;
  height: 1.6em;
  background: #b3b3b3;
  border-radius: 50%; }

.footer {
  padding: 2px 2px 0 2px; }
  .footer div {
    height: 80px;
    line-height: 80px;
    background: #242b31;
    text-align: center;
    color: #FFF; }

/*

	$CANTODAD DE INVITADOS

*/
.invitados-1 .silla:nth-child(1) {
  background: #48aa64; }

.invitados-2 .silla:nth-child(1),
.invitados-2 .silla:nth-child(2) {
  background: #48aa64; }

.invitados-3 .silla:nth-child(1),
.invitados-3 .silla:nth-child(2),
.invitados-3 .silla:nth-child(3) {
  background: #48aa64; }

.invitados-4 .silla:nth-child(1),
.invitados-4 .silla:nth-child(2),
.invitados-4 .silla:nth-child(3),
.invitados-4 .silla:nth-child(4) {
  background: #48aa64; }

.invitados-5 .silla:nth-child(1),
.invitados-5 .silla:nth-child(2),
.invitados-5 .silla:nth-child(3),
.invitados-5 .silla:nth-child(4),
.invitados-5 .silla:nth-child(5) {
  background: #48aa64; }

.invitados-6 .silla:nth-child(1),
.invitados-6 .silla:nth-child(2),
.invitados-6 .silla:nth-child(3),
.invitados-6 .silla:nth-child(4),
.invitados-6 .silla:nth-child(5),
.invitados-6 .silla:nth-child(6) {
  background: #48aa64; }

.invitados-7 .silla:nth-child(1),
.invitados-7 .silla:nth-child(2),
.invitados-7 .silla:nth-child(3),
.invitados-7 .silla:nth-child(4),
.invitados-7 .silla:nth-child(5),
.invitados-7 .silla:nth-child(6),
.invitados-7 .silla:nth-child(7) {
  background: #48aa64; }

.invitados-8 .silla:nth-child(1),
.invitados-8 .silla:nth-child(2),
.invitados-8 .silla:nth-child(3),
.invitados-8 .silla:nth-child(4),
.invitados-8 .silla:nth-child(5),
.invitados-8 .silla:nth-child(6),
.invitados-8 .silla:nth-child(7),
.invitados-8 .silla:nth-child(8) {
  background: #48aa64; }

.invitados-9 .silla:nth-child(1),
.invitados-9 .silla:nth-child(2),
.invitados-9 .silla:nth-child(3),
.invitados-9 .silla:nth-child(4),
.invitados-9 .silla:nth-child(5),
.invitados-9 .silla:nth-child(6),
.invitados-9 .silla:nth-child(7),
.invitados-9 .silla:nth-child(8),
.invitados-9 .silla:nth-child(9) {
  background: #48aa64; }

.invitados-10 .silla:nth-child(1),
.invitados-10 .silla:nth-child(2),
.invitados-10 .silla:nth-child(3),
.invitados-10 .silla:nth-child(4),
.invitados-10 .silla:nth-child(5),
.invitados-10 .silla:nth-child(6),
.invitados-10 .silla:nth-child(7),
.invitados-10 .silla:nth-child(8),
.invitados-10 .silla:nth-child(9),
.invitados-10 .silla:nth-child(10) {
  background: #48aa64; }

.invitados-11 .silla:nth-child(1),
.invitados-11 .silla:nth-child(2),
.invitados-11 .silla:nth-child(3),
.invitados-11 .silla:nth-child(4),
.invitados-11 .silla:nth-child(5),
.invitados-11 .silla:nth-child(6),
.invitados-11 .silla:nth-child(7),
.invitados-11 .silla:nth-child(8),
.invitados-11 .silla:nth-child(9),
.invitados-11 .silla:nth-child(10),
.invitados-11 .silla:nth-child(11) {
  background: #48aa64; }

.invitados-12 .silla:nth-child(1),
.invitados-12 .silla:nth-child(2),
.invitados-12 .silla:nth-child(3),
.invitados-12 .silla:nth-child(4),
.invitados-12 .silla:nth-child(5),
.invitados-12 .silla:nth-child(6),
.invitados-12 .silla:nth-child(7),
.invitados-12 .silla:nth-child(8),
.invitados-12 .silla:nth-child(9),
.invitados-12 .silla:nth-child(10),
.invitados-12 .silla:nth-child(11),
.invitados-12 .silla:nth-child(12) {
  background: #48aa64; }

/*

	$CANTODAD DE SILLAS POR MESA

*/
.sillas-12 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-12 .silla:nth-child(2) {
  transform: rotate(30deg) translate(5em);
  -ms-transform: rotate(30deg) translate(5em);
  -webkit-transform: rotate(30deg) translate(5em);
  -moz-transform: rotate(30deg) translate(5em); }
.sillas-12 .silla:nth-child(3) {
  transform: rotate(60deg) translate(5em);
  -ms-transform: rotate(60deg) translate(5em);
  -webkit-transform: rotate(60deg) translate(5em);
  -moz-transform: rotate(60deg) translate(5em); }
.sillas-12 .silla:nth-child(4) {
  transform: rotate(90deg) translate(5em);
  -ms-transform: rotate(90deg) translate(5em);
  -webkit-transform: rotate(90deg) translate(5em);
  -moz-transform: rotate(90deg) translate(5em); }
.sillas-12 .silla:nth-child(5) {
  transform: rotate(120deg) translate(5em);
  -ms-transform: rotate(120deg) translate(5em);
  -webkit-transform: rotate(120deg) translate(5em);
  -moz-transform: rotate(120deg) translate(5em); }
.sillas-12 .silla:nth-child(6) {
  transform: rotate(150deg) translate(5em);
  -ms-transform: rotate(150deg) translate(5em);
  -webkit-transform: rotate(150deg) translate(5em);
  -moz-transform: rotate(150deg) translate(5em); }
.sillas-12 .silla:nth-child(7) {
  transform: rotate(180deg) translate(5em);
  -ms-transform: rotate(180deg) translate(5em);
  -webkit-transform: rotate(180deg) translate(5em);
  -moz-transform: rotate(180deg) translate(5em); }
.sillas-12 .silla:nth-child(8) {
  transform: rotate(210deg) translate(5em);
  -ms-transform: rotate(210deg) translate(5em);
  -webkit-transform: rotate(210deg) translate(5em);
  -moz-transform: rotate(210deg) translate(5em); }
.sillas-12 .silla:nth-child(9) {
  transform: rotate(240deg) translate(5em);
  -ms-transform: rotate(240deg) translate(5em);
  -webkit-transform: rotate(240deg) translate(5em);
  -moz-transform: rotate(240deg) translate(5em); }
.sillas-12 .silla:nth-child(10) {
  transform: rotate(270deg) translate(5em);
  -ms-transform: rotate(270deg) translate(5em);
  -webkit-transform: rotate(270deg) translate(5em);
  -moz-transform: rotate(270deg) translate(5em); }
.sillas-12 .silla:nth-child(11) {
  transform: rotate(300deg) translate(5em);
  -ms-transform: rotate(300deg) translate(5em);
  -webkit-transform: rotate(300deg) translate(5em);
  -moz-transform: rotate(300deg) translate(5em); }
.sillas-12 .silla:nth-child(12) {
  transform: rotate(330deg) translate(5em);
  -ms-transform: rotate(330deg) translate(5em);
  -webkit-transform: rotate(330deg) translate(5em);
  -moz-transform: rotate(330deg) translate(5em); }

.sillas-11 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-11 .silla:nth-child(2) {
  transform: rotate(32.72727deg) translate(5em);
  -ms-transform: rotate(32.72727deg) translate(5em);
  -webkit-transform: rotate(32.72727deg) translate(5em);
  -moz-transform: rotate(32.72727deg) translate(5em); }
.sillas-11 .silla:nth-child(3) {
  transform: rotate(65.45455deg) translate(5em);
  -ms-transform: rotate(65.45455deg) translate(5em);
  -webkit-transform: rotate(65.45455deg) translate(5em);
  -moz-transform: rotate(65.45455deg) translate(5em); }
.sillas-11 .silla:nth-child(4) {
  transform: rotate(98.18182deg) translate(5em);
  -ms-transform: rotate(98.18182deg) translate(5em);
  -webkit-transform: rotate(98.18182deg) translate(5em);
  -moz-transform: rotate(98.18182deg) translate(5em); }
.sillas-11 .silla:nth-child(5) {
  transform: rotate(130.90909deg) translate(5em);
  -ms-transform: rotate(130.90909deg) translate(5em);
  -webkit-transform: rotate(130.90909deg) translate(5em);
  -moz-transform: rotate(130.90909deg) translate(5em); }
.sillas-11 .silla:nth-child(6) {
  transform: rotate(163.63636deg) translate(5em);
  -ms-transform: rotate(163.63636deg) translate(5em);
  -webkit-transform: rotate(163.63636deg) translate(5em);
  -moz-transform: rotate(163.63636deg) translate(5em); }
.sillas-11 .silla:nth-child(7) {
  transform: rotate(196.36364deg) translate(5em);
  -ms-transform: rotate(196.36364deg) translate(5em);
  -webkit-transform: rotate(196.36364deg) translate(5em);
  -moz-transform: rotate(196.36364deg) translate(5em); }
.sillas-11 .silla:nth-child(8) {
  transform: rotate(229.09091deg) translate(5em);
  -ms-transform: rotate(229.09091deg) translate(5em);
  -webkit-transform: rotate(229.09091deg) translate(5em);
  -moz-transform: rotate(229.09091deg) translate(5em); }
.sillas-11 .silla:nth-child(9) {
  transform: rotate(261.81818deg) translate(5em);
  -ms-transform: rotate(261.81818deg) translate(5em);
  -webkit-transform: rotate(261.81818deg) translate(5em);
  -moz-transform: rotate(261.81818deg) translate(5em); }
.sillas-11 .silla:nth-child(10) {
  transform: rotate(294.54545deg) translate(5em);
  -ms-transform: rotate(294.54545deg) translate(5em);
  -webkit-transform: rotate(294.54545deg) translate(5em);
  -moz-transform: rotate(294.54545deg) translate(5em); }
.sillas-11 .silla:nth-child(11) {
  transform: rotate(327.27273deg) translate(5em);
  -ms-transform: rotate(327.27273deg) translate(5em);
  -webkit-transform: rotate(327.27273deg) translate(5em);
  -moz-transform: rotate(327.27273deg) translate(5em); }

.sillas-10 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-10 .silla:nth-child(2) {
  transform: rotate(36deg) translate(5em);
  -ms-transform: rotate(36deg) translate(5em);
  -webkit-transform: rotate(36deg) translate(5em);
  -moz-transform: rotate(36deg) translate(5em); }
.sillas-10 .silla:nth-child(3) {
  transform: rotate(72deg) translate(5em);
  -ms-transform: rotate(72deg) translate(5em);
  -webkit-transform: rotate(72deg) translate(5em);
  -moz-transform: rotate(72deg) translate(5em); }
.sillas-10 .silla:nth-child(4) {
  transform: rotate(108deg) translate(5em);
  -ms-transform: rotate(108deg) translate(5em);
  -webkit-transform: rotate(108deg) translate(5em);
  -moz-transform: rotate(108deg) translate(5em); }
.sillas-10 .silla:nth-child(5) {
  transform: rotate(144deg) translate(5em);
  -ms-transform: rotate(144deg) translate(5em);
  -webkit-transform: rotate(144deg) translate(5em);
  -moz-transform: rotate(144deg) translate(5em); }
.sillas-10 .silla:nth-child(6) {
  transform: rotate(180deg) translate(5em);
  -ms-transform: rotate(180deg) translate(5em);
  -webkit-transform: rotate(180deg) translate(5em);
  -moz-transform: rotate(180deg) translate(5em); }
.sillas-10 .silla:nth-child(7) {
  transform: rotate(216deg) translate(5em);
  -ms-transform: rotate(216deg) translate(5em);
  -webkit-transform: rotate(216deg) translate(5em);
  -moz-transform: rotate(216deg) translate(5em); }
.sillas-10 .silla:nth-child(8) {
  transform: rotate(252deg) translate(5em);
  -ms-transform: rotate(252deg) translate(5em);
  -webkit-transform: rotate(252deg) translate(5em);
  -moz-transform: rotate(252deg) translate(5em); }
.sillas-10 .silla:nth-child(9) {
  transform: rotate(288deg) translate(5em);
  -ms-transform: rotate(288deg) translate(5em);
  -webkit-transform: rotate(288deg) translate(5em);
  -moz-transform: rotate(288deg) translate(5em); }
.sillas-10 .silla:nth-child(10) {
  transform: rotate(324deg) translate(5em);
  -ms-transform: rotate(324deg) translate(5em);
  -webkit-transform: rotate(324deg) translate(5em);
  -moz-transform: rotate(324deg) translate(5em); }

.sillas-9 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-9 .silla:nth-child(2) {
  transform: rotate(40deg) translate(5em);
  -ms-transform: rotate(40deg) translate(5em);
  -webkit-transform: rotate(40deg) translate(5em);
  -moz-transform: rotate(40deg) translate(5em); }
.sillas-9 .silla:nth-child(3) {
  transform: rotate(80deg) translate(5em);
  -ms-transform: rotate(80deg) translate(5em);
  -webkit-transform: rotate(80deg) translate(5em);
  -moz-transform: rotate(80deg) translate(5em); }
.sillas-9 .silla:nth-child(4) {
  transform: rotate(120deg) translate(5em);
  -ms-transform: rotate(120deg) translate(5em);
  -webkit-transform: rotate(120deg) translate(5em);
  -moz-transform: rotate(120deg) translate(5em); }
.sillas-9 .silla:nth-child(5) {
  transform: rotate(160deg) translate(5em);
  -ms-transform: rotate(160deg) translate(5em);
  -webkit-transform: rotate(160deg) translate(5em);
  -moz-transform: rotate(160deg) translate(5em); }
.sillas-9 .silla:nth-child(6) {
  transform: rotate(200deg) translate(5em);
  -ms-transform: rotate(200deg) translate(5em);
  -webkit-transform: rotate(200deg) translate(5em);
  -moz-transform: rotate(200deg) translate(5em); }
.sillas-9 .silla:nth-child(7) {
  transform: rotate(240deg) translate(5em);
  -ms-transform: rotate(240deg) translate(5em);
  -webkit-transform: rotate(240deg) translate(5em);
  -moz-transform: rotate(240deg) translate(5em); }
.sillas-9 .silla:nth-child(8) {
  transform: rotate(280deg) translate(5em);
  -ms-transform: rotate(280deg) translate(5em);
  -webkit-transform: rotate(280deg) translate(5em);
  -moz-transform: rotate(280deg) translate(5em); }
.sillas-9 .silla:nth-child(9) {
  transform: rotate(320deg) translate(5em);
  -ms-transform: rotate(320deg) translate(5em);
  -webkit-transform: rotate(320deg) translate(5em);
  -moz-transform: rotate(320deg) translate(5em); }

.sillas-8 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-8 .silla:nth-child(2) {
  transform: rotate(45deg) translate(5em);
  -ms-transform: rotate(45deg) translate(5em);
  -webkit-transform: rotate(45deg) translate(5em);
  -moz-transform: rotate(45deg) translate(5em); }
.sillas-8 .silla:nth-child(3) {
  transform: rotate(90deg) translate(5em);
  -ms-transform: rotate(90deg) translate(5em);
  -webkit-transform: rotate(90deg) translate(5em);
  -moz-transform: rotate(90deg) translate(5em); }
.sillas-8 .silla:nth-child(4) {
  transform: rotate(135deg) translate(5em);
  -ms-transform: rotate(135deg) translate(5em);
  -webkit-transform: rotate(135deg) translate(5em);
  -moz-transform: rotate(135deg) translate(5em); }
.sillas-8 .silla:nth-child(5) {
  transform: rotate(180deg) translate(5em);
  -ms-transform: rotate(180deg) translate(5em);
  -webkit-transform: rotate(180deg) translate(5em);
  -moz-transform: rotate(180deg) translate(5em); }
.sillas-8 .silla:nth-child(6) {
  transform: rotate(225deg) translate(5em);
  -ms-transform: rotate(225deg) translate(5em);
  -webkit-transform: rotate(225deg) translate(5em);
  -moz-transform: rotate(225deg) translate(5em); }
.sillas-8 .silla:nth-child(7) {
  transform: rotate(270deg) translate(5em);
  -ms-transform: rotate(270deg) translate(5em);
  -webkit-transform: rotate(270deg) translate(5em);
  -moz-transform: rotate(270deg) translate(5em); }
.sillas-8 .silla:nth-child(8) {
  transform: rotate(315deg) translate(5em);
  -ms-transform: rotate(315deg) translate(5em);
  -webkit-transform: rotate(315deg) translate(5em);
  -moz-transform: rotate(315deg) translate(5em); }

.sillas-7 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-7 .silla:nth-child(2) {
  transform: rotate(51.42857deg) translate(5em);
  -ms-transform: rotate(51.42857deg) translate(5em);
  -webkit-transform: rotate(51.42857deg) translate(5em);
  -moz-transform: rotate(51.42857deg) translate(5em); }
.sillas-7 .silla:nth-child(3) {
  transform: rotate(102.85714deg) translate(5em);
  -ms-transform: rotate(102.85714deg) translate(5em);
  -webkit-transform: rotate(102.85714deg) translate(5em);
  -moz-transform: rotate(102.85714deg) translate(5em); }
.sillas-7 .silla:nth-child(4) {
  transform: rotate(154.28571deg) translate(5em);
  -ms-transform: rotate(154.28571deg) translate(5em);
  -webkit-transform: rotate(154.28571deg) translate(5em);
  -moz-transform: rotate(154.28571deg) translate(5em); }
.sillas-7 .silla:nth-child(5) {
  transform: rotate(205.71429deg) translate(5em);
  -ms-transform: rotate(205.71429deg) translate(5em);
  -webkit-transform: rotate(205.71429deg) translate(5em);
  -moz-transform: rotate(205.71429deg) translate(5em); }
.sillas-7 .silla:nth-child(6) {
  transform: rotate(257.14286deg) translate(5em);
  -ms-transform: rotate(257.14286deg) translate(5em);
  -webkit-transform: rotate(257.14286deg) translate(5em);
  -moz-transform: rotate(257.14286deg) translate(5em); }
.sillas-7 .silla:nth-child(7) {
  transform: rotate(308.57143deg) translate(5em);
  -ms-transform: rotate(308.57143deg) translate(5em);
  -webkit-transform: rotate(308.57143deg) translate(5em);
  -moz-transform: rotate(308.57143deg) translate(5em); }

.sillas-6 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-6 .silla:nth-child(2) {
  transform: rotate(60deg) translate(5em);
  -ms-transform: rotate(60deg) translate(5em);
  -webkit-transform: rotate(60deg) translate(5em);
  -moz-transform: rotate(60deg) translate(5em); }
.sillas-6 .silla:nth-child(3) {
  transform: rotate(120deg) translate(5em);
  -ms-transform: rotate(120deg) translate(5em);
  -webkit-transform: rotate(120deg) translate(5em);
  -moz-transform: rotate(120deg) translate(5em); }
.sillas-6 .silla:nth-child(4) {
  transform: rotate(180deg) translate(5em);
  -ms-transform: rotate(180deg) translate(5em);
  -webkit-transform: rotate(180deg) translate(5em);
  -moz-transform: rotate(180deg) translate(5em); }
.sillas-6 .silla:nth-child(5) {
  transform: rotate(240deg) translate(5em);
  -ms-transform: rotate(240deg) translate(5em);
  -webkit-transform: rotate(240deg) translate(5em);
  -moz-transform: rotate(240deg) translate(5em); }
.sillas-6 .silla:nth-child(6) {
  transform: rotate(300deg) translate(5em);
  -ms-transform: rotate(300deg) translate(5em);
  -webkit-transform: rotate(300deg) translate(5em);
  -moz-transform: rotate(300deg) translate(5em); }

.sillas-5 .silla:nth-child(1) {
  transform: rotate(0deg) translate(5em);
  -ms-transform: rotate(0deg) translate(5em);
  -webkit-transform: rotate(0deg) translate(5em);
  -moz-transform: rotate(0deg) translate(5em); }
.sillas-5 .silla:nth-child(2) {
  transform: rotate(72deg) translate(5em);
  -ms-transform: rotate(72deg) translate(5em);
  -webkit-transform: rotate(72deg) translate(5em);
  -moz-transform: rotate(72deg) translate(5em); }
.sillas-5 .silla:nth-child(3) {
  transform: rotate(144deg) translate(5em);
  -ms-transform: rotate(144deg) translate(5em);
  -webkit-transform: rotate(144deg) translate(5em);
  -moz-transform: rotate(144deg) translate(5em); }
.sillas-5 .silla:nth-child(4) {
  transform: rotate(216deg) translate(5em);
  -ms-transform: rotate(216deg) translate(5em);
  -webkit-transform: rotate(216deg) translate(5em);
  -moz-transform: rotate(216deg) translate(5em); }
.sillas-5 .silla:nth-child(5) {
  transform: rotate(288deg) translate(5em);
  -ms-transform: rotate(288deg) translate(5em);
  -webkit-transform: rotate(288deg) translate(5em);
  -moz-transform: rotate(288deg) translate(5em); }

/*# sourceMappingURL=style.css.map */
